<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Intern List</title>
    <style>
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<p align="right"><a href="/getAllIntern">Back to interns list</a></p>
<body>
<div>
    <div>
        <h2>Details</h2>
        </td>
        <div>
            <table>
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>School</th>
                    <th>Internship time</th>
                    <th>Hours per week</th>
                </tr>
                </thead>
                <tbody>
                    <td th:text="${intern.firstName}"></td>
                    <td th:text="${intern.surname}"></td>
                    <td th:text="${intern.school}"></td>
                    <td th:text="${#dates.listFormat(intern.internshipTime, 'dd.MM.yyyy')}"></td>
                    <td th:text="${intern.hoursPerWeek}"></td>
                </tbody>
            </table>
        </div>
        <br><br>
        <div th:if="${EmptyTasksList == true}">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Task</th>
                    <th>EK</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${#dates.format(task.getDate(), 'dd.MM.yyyy')}"></td>
                    <td th:text="${task.getHours()}"></td>
                    <td th:text="${task.getTask()}"></td>
                    <td th:text="${task.getEK()}"></td>
                    <td><a th:href="@{/deleteTask/{email}/{_idTask}(_idTask=${task.get_idTask()}, email=${intern.email})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/newTask/{email}(email=${intern.email})}">New task</a></p>
    </div>
</div>
</body>
</html>

