<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Intern List</title>
    <style>
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
<div>
    <div>
        <h2>Details</h2>
        </td>
        <div>
            <table>
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                    <th>School</th>
                    <th>Internship time</th>
                    <th>Hours per week</th>
                </tr>
                </thead>
                <tbody>
                    <td th:text="${intern.firstName}"></td>
                    <td th:text="${intern.surname}"></td>
                    <td th:text="${intern.school}"></td>
                    <td th:text="${#strings.arrayJoin(intern.internshipTime,' - ')}"></td>
                    <td th:text="${intern.hoursPerWeek}"></td>
                </tbody>
            </table>
        </div>
        <br><br>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Task</th>
                    <th>EK</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${intern.task.getDate()}"></td>
                    <td th:text="${intern.task.getHours()}"></td>
                    <td th:text="${intern.task.getTasks()}"></td>
                    <td th:text="${intern.task.getEK()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

