<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Create intern</title>
</head>
<body>
<div>
    <div>
        <form action="/createIntern">
            <div>
                <label>First name:</label>
                <input type="text"name="firstName" />
            </div>
                <div th:if="${#sets.contains(messages, 'firstName')}">Firstname can't be empty</div>
            <div class="form-group">
                <label>Surname:</label>
                <input type="text" name="surname" />
            </div>
                <div th:if="${#sets.contains(messages, 'surname')}">Surname can't be empty</div>
            <div class="form-group">
                <label>School:</label>
                <input type="text" name="school" />
            </div>
                <div th:if="${#sets.contains(messages, 'school')}">School can't be empty</div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" name="email" />
            </div>
                <div th:if="${checkIfTheEmailIsUnique == false}">Email is not unique</div>
                <div th:if="${#sets.contains(messages, 'email')}">Email can't be empty</div>
            <div class="form-group">
                <label>Date startD:</label>
                <input type="date" name="internshipTime[]" />
            </div>
            <div class="form-group">
                <label>Date finish:</label>
                <input type="date" name="internshipTime[]" />
            </div>
             <div th:if="${checkCorrectRange == false}">Incorrect range</div>
            <div class="form-group">
                <label>Hours per week:</label>
                <input type="number" name="hoursPerWeek" />
            </div>
                <div th:if="${#sets.contains(messages, 'hoursPerWeek')}"> Wrong value - range between 1 and 40 </div>
            <button type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>
