<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Intern List</title>
    <style>
table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
<div>
    <div>
        <h2>Intern List</h2>
        </td>
        <div>
            <table>
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Surname</th>
                   <!--  <th>School</th> -->
                    <!-- <th>Internship time</th>-->
                    <!-- <th>Hours per week</th>-->
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="intern : ${interns}">
                    <td th:text="${intern.firstName}"></td>
                    <td th:text="${intern.surname}"></td>
                    <!--  <td th:text="${intern.school}"></td>-->
                    <!--  <td th:text="${#strings.arrayJoin(intern.internshipTime,' - ')}"></td>-->
                    <!--  <td th:text="${intern.hoursPerWeek}"></td>-->
                    <td><a th:href="@{/details/{email}(email=${intern.email})}">Details</a></td>
                    <td><a th:href="@{/delete/{email}(email=${intern.email})}">Delete</a></td>
                    <td><a th:href="@{/editIntern/{_id}(_id=${intern._id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
            <p align="left"><a href="/newIntern">New Intern</a></p>
</div>
</body>
</html>
