<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Report task</title>
</head>
<body>
<div>
    <div>
        <form action="/createTask">
            <div>
                <label>Email:</label>
                <input type="text" name="email" th:value="${intern.email}" readonly="readonly"/>
            </div>
            <div>
                <label>Date:</label>
                <input type="date" name="date" />
            </div>
            <div th:if="${enterDate == false}">Enter the date</div>
            <div th:if="${checkIfTheTaskIsInTheRange == false}">Task data is out of the range of the internship</div>
            <div th:if="${checkIfTheTaskIsInTheRange == false}" th:text="${#dates.listFormat(intern.internshipTime, 'dd.MM.yyyy')}"></div>
            <div th:if="${checkIfTheTimeIsInTheLimit == false}">Task time out of range - <1-8></div>
            <div class="form-group">
                <label>Hours:</label>
                <input type="number" name="hours" />
            </div>
            <div class="form-group">
                <label>Task:</label>
                <input type="text" name="task" />
            </div>
            <div class="form-group">
                <label>EK:</label>
                <input type="text" name="EK" />
            </div>
            <button type="submit">Report task</button>
        </form>
    </div>
</div>
</body>
</html>
