<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Raport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
    <body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <h2>Internship log</h2>
            <a th:href="@{'/createPdf'}" style="float:right;"><img src="../templates/static/images/pdf.png" width="40px" th:src="@{templates/static/images/pdf.png}"/></a>
                <div style="margin-top:20px">
                            <table class="table table-striped table-bordered" style="width: 100%">
                                <thead>
                                <tr>

                                    <th>Date</th>
                                    <th>The number of hours</th>
                                    <th>Range of tasks performed</th>
                                    <th>Reference to EK*</th>
                                    <th>Signature of the internship tutor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task : ${taskResult}">
                                    <td align="center" th:text="${#dates.format(task.getDate(), 'dd.MM.yyyy')}"></td>
                                    <td align="center" th:text="${task.getHours()}"></td>
                                    <td align="center" th:text="${task.getTask()}"></td>
                                    <td align="center" th:text="${task.getEK()}"></td>
                                    <td align="center"><sub>...........................................................</sub></td>
                                </tr>
                                </tbody>
                                <td align="center">Total: </td>
                                <td align="center" th:text="${totalHourseInTheRange}"></td>
                            </table>
            </div>
        </div>
    </div>
</div>

    </body>
</html>
