<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Report task</title>
</head>
<body>
<div>
    <div>
        <form action="/updateTask">
            <div>
                <label>Email:</label>
                <input type="text" name="email" th:value="${intern.email}" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label>ID Task:</label>
                <input type="text" name="_idTask" th:value="${task._idTask}" readonly="readonly" />
            </div>
            <div>
                <label>Date:</label>
                <input type="date" name="date" th:value="${#dates.format(task.date, 'yyyy-MM-dd')}"/>
            </div>
            <div th:if="${enterDate == false}">Enter the date</div>
            <div th:if="${checkIfTheTaskIsInTheRange == false}">Task data is out of the range of the internship</div>
            <div th:if="${checkIfTheTaskIsInTheRange == false}" th:text="${#dates.listFormat(intern.internshipTime, 'dd.MM.yyyy')}"></div>
            <div class="form-group">
                <label>Hours:</label>
                <input type="number" name="hours" th:value="${task.hours}" />
            </div>
            <div th:if="${checkIfTheTimeIsInTheLimit == false}">Task time out of range - <1-8></div>
            <div class="form-group">
                <label>Task:</label>
                <input type="text" name="task" th:value="${task.task}" />
            </div>
            <div th:if="${emptyTask == false}">Task cant be empty</div>
            <div class="form-group">
                <label>EK:</label>
                <input type="text" name="EK" th:value="${task.EK}"/>
            </div>
            <div th:if="${emptyEK == false}">EK cant be empty</div>
            <br>
            <button type="submit">Edit task</button>
        </form>
    </div>
</div>
</body>
</html>
