<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>User List</title>
</head>
<body>
<div>
    <div>
        <h3>
            <a href="/newUser"><span></span> Add user</a>
        </h3>
        <h2>User List</h2>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Pass</th>
                    <th>Active</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.pass}"></td>
                    <td th:text="${user.active}"></td>
                    <td th:text="${user.contact.getPhone()}"></td>
                    <td th:text="${user.contact.getEmail()}"></td>
                    <td th:text="${#strings.arrayJoin(user.role,', ')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>