<html lang="pl">
    <head>
      <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"  href="style/pbStyle.css" />
    </head>

    <body>
          <img src="static/images/Unia.jpg" width="70%" align="middle"/>
    <h1>Dziennik stażu</h1>
    <div class="pConst" align="center">
        <div class="signature" th:text="${intern.getFirstName()}"></div>
        <div>Imię i nazwisko Stażysty</div>
    </div>

    <div class="pConst" align="center">
        <div class="signature"></div>
        <div>Przyjmujący na staż</div>
    </div>

    <div class="pConst" align="center">
        <div class="signature"></div>
        <div>Imię i nazwisko opiekuna</div>
    </div>

    <div class="pConst" align="left">
        <div class="signature" th:text="${#dates.listFormat(intern.internshipTime, 'dd.MM.yyyy')}"></div>
        <div class="pConst">Termin odbywania Stażu (dd/mm/rr – dd/mm/rr)</div>
    </div>

    <div align="right" class="pConst">
        <div class="signature">..............................................................</div>
        <div>Podpis opiekuna Stażysty</div>
    </div>

    <div align="right" class="pConst">
        <div class="signature">..............................................................</div>
        <div>Podpis Koordynatora Projektu</div>
    </div>
    <h6></h6>

        <table style="width: 100%">
             <thead>
                  <tr>
                      <th style="width: 15%">Data</th>
                      <th style="width: 10%">Liczba godzin</th>
                      <th style="width: 45%">Zakres wykonywanych zadań</th>
                      <th style="width: 10%">EK*</th>
                      <th style="width: 20%">Podpis opiekuna stażu</th>
                  </tr>
             </thead>
             <tbody>
                  <tr th:each="task : ${taskResult}">
                      <td align="center" th:text="${#dates.format(task.getDate(), 'dd.MM.yyyy')}"></td>
                      <td align="center" th:text="${task.getHours()}"></td>
                      <td align="center" th:text="${task.getTask()}"></td>
                      <td align="center" th:text="${task.getEK()}"></td>
                      <td></td>
                  </tr>
             </tbody>
                      <td align="center">Total: </td>
                      <td align="center" th:text="${totalHourseInTheRange}"></td>
        </table>
        <div style="padding-top: 35px">
                <div class="lastSignature">
                    <div class="signature">........................................</div>
                    <div class="pConst">Podpis Koordynatora Projektu</div>
                </div>
        </div>

                <div class="lastSignature">
                    <div class="signature">........................................</div>
                    <div class="pConst">Podpis Opiekuna Stażu</div>
                </div>
                <div class="lastSignature">
                    <div class="signature">........................................</div>
                    <div class="pConst">Podpis Stażysty</div>
                </div>
    </body>
</html>